*{
    
    
    my-color: #D4B88E;
    
}



.root{
   
}



.tab{
    
    -fx-pref-width: 350px;
    -fx-pref-height: 50px; 
    -fx-background-color: white; 
    -fx-padding: 0; 
    -fx-alignment: center; 
    -fx-border-color: #F6F1DE;  
       -fx-border-width: 1px 0 0 0; 
    
    
}

.tab-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.tab-pane{
     -fx-background-color:  #F6F1DE;
/*     -fx-border-color: #1E1E2C;  Darker brown */
       -fx-border-width: 2px 0 0 0; 
}

.tab-header-background{

/*     -fx-border-color: #8B5A2B; 
       -fx-border-width: 2px 0 0 0; */
    -fx-background-color: #1E1E2C;
}

.tab-header-label{
    -fx-font-family: 'Poppins', sans-serif; 
    -fx-font-size: 18px; 
    -fx-font-weight: bold;
    -fx-text-alignment: center;

}

.tab-content {
    -fx-alignment: center; /* Ensures content inside tabs is centered */
    -fx-padding: 10px;
}


.tab-label{
   
    
}

.tab-header-area .tab:selected {
    
    -fx-font-family: 'Poppins', sans-serif; 
    -fx-background-color: #8AB2A6; 
    -fx-text-fill: white; 
    -fx-border-width: 2px;
    -fx-font-weight: bolder; 
    
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.PaneCon{
    -fx-background-color: #e0d5b8; 
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.5, 0, 0);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

}

.caption{
    
   -fx-font-family: 'Poppins', sans-serif; 
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    
}

.tfieldLabel{
    -fx-font-family: 'Poppins', sans-serif; 
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #888; 
    -fx-border-radius: 10px;
    -fx-border-width: 1.5; 
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #555; 
    -fx-font-family: 'Poppins', sans-serif; 
}

.text-field:focused {
    -fx-border-color: black; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2); 
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: #888; 
    -fx-border-radius: 10px;
    -fx-border-width: 1.5; 
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #555; 
    -fx-font-family: 'Poppins', sans-serif; 
}


.combo-box:focused {
    -fx-border-color: black; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2); 
}

.date-picker {
   -fx-background-color: transparent;
    -fx-border-color: transparent; 
    fx-font-size: 14px;
    -fx-prompt-text-fill: #555; 
    -fx-font-family: 'Poppins', sans-serif; 
}




.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-border-color: #888; 
    -fx-border-radius: 10px;
    -fx-border-width: 1.5; 
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #555; 
   -fx-font-family: 'Poppins', sans-serif; 
    -fx-text-alignment: center;
}


.date-picker .arrow-button {
    -fx-background-color: #D4B88E; 
    -fx-background-radius: 5;      
    -fx-border-color: #888;     
    -fx-border-radius: 5;         
}

.date-picker .arrow-button:hover {
    -fx-background-color: #A67B5B; 
}

.date-picker .arrow-button .arrow {
    -fx-background-color: black;   
}

.btnsub {
    -fx-background-color: linear-gradient(to bottom, #ffe5c2, #e6c29a);
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #5c3d2e;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.2, 0, 4); 
    -fx-transition: all 0.3s ease-in-out;
}

.btnsub:hover {
    -fx-background-color: #A67B5B;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0.3, 2, 2);
    -fx-translate-y: -2px; 
}

.btnsub:pressed {
    -fx-background-color: #d1b99f;
    -fx-effect: none;
    -fx-translate-y: 1px; 
}




/*s*/
.btnfile {
    -fx-background-color: linear-gradient(to bottom, #ffe5c2, #e6c29a);
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 5px 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #5c3d2e;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.2, 0, 4); 
    -fx-transition: all 0.3s ease-in-out;
}

.btnfile:hover {
    -fx-background-color: #A67B5B;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0.3, 2, 2);
    -fx-translate-y: -2px; 
}

.btnfile:pressed {
    -fx-background-color: #d1b99f;
    -fx-effect: none;
    -fx-translate-y: 1px; 
}

.img{
    
    -fx-border-color: black;
    -fx-border-width: 1.5px;
    -fx-border-weight: 2px;
    
}


.table-view {
  
    -fx-background-color: #f5e6c6; 
    -fx-border-color: #a89574; 
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
}


.table-column-header .label {
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-weight: bold;

}

.table-view .column-header .label {
    -fx-text-fill: black;   
    -fx-font-size: 11px;     
    -fx-font-weight: bold;   
    -fx-padding: 4px 4px 4px 4px;   
}

.table-column {
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 12px;
    
    -fx-text-fill: #4a3f2d; 
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-radius: 8px 8px 0 0;
    -fx-background-radius: 8px 8px 0 0;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

.table-row-cell {
    -fx-background-color: #f5e6c6;
    -fx-border-color:    #A67B5B;
    -fx-border-width: 0 0 1.2px 0;
}

.table-row-cell:odd {
    -fx-background-color: #f5e6c6;
}

.table-row-cell:hover {
    -fx-background-color: #ecf0f1;
}

.table-row-cell:selected {
    -fx-background-color: #d1c1a0; 
    -fx-text-fill: black;
}

.table-cell {
   -fx-padding: 10px;
    -fx-border-color: #A67B5B;
    -fx-border-width: 0 1.2px 0 0; 
    -fx-font-size: 12px; 
    -fx-text-fill: #4a3f2d;
}